* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    padding: 20px;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    width: 450px;
    padding: 5px;
    border: 1px solid #f4f4f4;
    margin: 40px auto 10px;
    box-shadow: 0px 2px 4px #dfdfdf;
}

.search-bar:hover {
    box-shadow: 0px 3px 5px #c0c0c0;
}

.search-input {
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 700;
}

.search-btn {
    padding: 12px;
    border: none;
    margin: 1px;
    background-color: #fcfcfc;
    cursor: pointer;
}

.item-result {
    width: 250px;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
}

.item-result:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-desc,
.result-title {
    margin: 20px;
}
